@model LoginDto
@{
    Layout = null;
}

<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SignalR Restoran Giriş Sayfası</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="~/colorlib-regform-32/css/nunito-font.css">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="~/colorlib-regform-32/css/style.css" />
</head>
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content">
			<div class="form-left">
				<img src="~/colorlib-regform-32/images/Sauce1.jpg" alt="form" style="width:484px; height:584px">
			</div>
			<form class="form-detail" method="post">
				<h2>Login</h2>
				<div class="form-row">
					<input type="text" id="full-name" asp-for="Username" class="input-text" placeholder="Username" required>
				</div>
				<div class="form-row">
					<input type="password" id="password" class="input-text" placeholder="Password" asp-for="Password" required>
				</div>

				<button class="btn btn-dark">Log In</button>
				<div style="text-align: center; margin-top: 20px;">
					<h4 style="font-size: 1.2rem; color: #333;">Don't have an account?</h4>
					<a href="/Register/Index" class="btn btn-primary" style="padding: 10px 20px; border-radius: 25px; font-size: 1rem; text-transform: uppercase; margin-top: 10px;">Register</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
